<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <h1>Employee list</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th style="color: blue">Item</th>
        </tr>
        <tr th:each="employee:${employees}">
            <td th:text="${employee.id}">123</td>
            <td th:text="${employee.firstName}">Jhon</td>
            <td th:text="${employee.lastName}">Doe</td>
            <td th:text="${dato}">hol mundo</td>
        </tr>
    </table>

</body>
</html>