<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <h1>Category list</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>

        </tr>
        <tr th:each="category:${categories}">
            <td th:text="${category.id}">123</td>
            <td th:text="${category.name}">cadName</td>
            <td th:text="${category.code}">CatCode</td>
        </tr>
    </table>

</body>
</html>