<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <h1>Employee list</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th style="color: blue">Item</th>
        </tr>
        <tr th:each="position:${positions}">
            <td th:text="${position.id}">123</td>

            <!--<td>
                <table>
                    <tr th:each="contract:${position.contracts}">
                        <td th:text="${contract.id}">123</td>
                        <td th:text="${contract.initDate}">Jhon</td>
                    </tr>
                </table>
            </td>-->
        </tr>
    </table>

</body>
</html>