<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <h1>Employee list</h1>

    <table>
        <tr>
            <th>ID</th>
        </tr>
        <tr th:each="subCategory:${subCategories}">
            <td th:text="${subCategory.id}">123</td>
            <!--<td>
                <table>
                    <tr th:each="contract:${subCategory.contracts}">
                        <td th:text="${contract.id}">123</td>
                        <td th:text="${contract.initDate}">Jhon</td>
                    </tr>
                </table>
            </td>-->
        </tr>
    </table>

</body>
</html>